<div>
    <div class="main-wrapper">
        {{#if profileInfo}}
        {{> profileInfoSection}}
        {{/if}}
        {{#if reference}}
        {{> referenceSection}}
        {{/if}}
        {{#if referenceBy}}
        {{> referenceBySection}}
        {{/if}}
    </div>
    <div class="temp">
    </div>
</div>